g.tl.country {
    cursor: pointer;
}

line.tl {
  fill: none;
  stroke: #BDBDBD;
  stroke-width: 2;
}

rect.tl.background {
    fill: #BDBDBD;
}

rect.tl.internet {
    fill: #599ad3;
}

rect.tl.education {
    fill: #f9a65a;
}

rect.tl.research {
    fill: #9e66ab;
}

.tl.axis text {
  fill: black;
  font: 9px sans-serif;
}

.tl.axis path,
.tl.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tl.axis path {
  display: none;
}

div.tooltip {
  color: white;
  text-align: left;
  width: 1024px;
  height: 600px;
  margin-top: -300px;
  margin-left: -512px;
  padding: 10px;
  font: 15px sans-serif;
  background: black;
  border: 0px;
  border-radius: 8px;
}

div.countryDisp {
  color: white;
  position: fixed;
  text-align: center;
  width: 350px;
  height: 28px;
  margin-top: -43px;
  margin-left: -365px;
  padding: 5px;
  font: 24px sans-serif;
  background: black;
  border: 0px;
  border-radius: 8px;
}

div#tooltipClose {
  position: absolute;
  right: 10px;
  top: -18px;
  cursor: pointer;
}

div#tooltipMenu {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.tooltipButton {
  cursor: pointer;
}

div.colorFixer {
  position: absolute;
  bottom: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

div.colorFixer.void {
  border: 1px solid white;
  width: 38px;
  height: 38px;
  left: 10px;
}

div.colorFixer.red {
  left: 55px;
  background: #e41a1c;
}

div.colorFixer.blue {
  left: 100px;
  background: #377eb8;
}

div.colorFixer.green {
  left: 145px;
  background: #4daf4a;
}

div.colorFixer.violet {
  left: 190px;
  background: #984ea3;
}
div.colorFixer.orange {
  left: 235px;
  background: #ff7f00;
}

h3.education {
  color: #f9a65a;
}

h3.research {
  color: #9e66ab;
}

h3.internet {
  color: #599ad3;
}

div.legend {
  width: 30px;
  height: 30px;
}

div#legendEducation {
  background: #f9a65a;
}

div#legendResearch {
  background: #9e66ab;
}

div#legendInternet {
  background: #599ad3;
}

#simpleTimeLine {
    position: absolute;
    top: 78px;
    left: 420px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.internetLine {
  fill: none;
  stroke-width: 1.5px;
  stroke: #599ad3;
}

.educationLine {
  fill: none;
  stroke-width: 1.5px;
  stroke: #f9a65a;
}

.researchLine {
  fill: none;
  stroke-width: 1.5px;
  stroke: #9e66ab;
}

line#internetLine {
}

.axis text {
  fill: white;
  font-size: 11px;
}

